* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* di isasama border */
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #f7c08a;
}

.container {
    max-width: 960px;
    margin: auto;
}

.primary-text {
    color: #f7c08a;
}

.primary-bg {
    background-color: #f7c08a !important;
}

.btn {
    font-size: 18px;
    background: #333;
    padding: 15px;
    border-radius: 5px;
}

.btn-light {
    background: #F4F4F4;
    color: #333
}

.clear {
    clear: both;
}

/* navbar */
#navbar {
    background-color: #333;
    height: 60px;
}

#navbar h1 {
    /* border: 1px solid snow; */
    float: left;
    padding: 10px;
    color: #fff;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar li {
    /* border: 1px solid red; */
    padding: 20px;
    float: left;
}

/* showcase */
#showcase {
    background: url(./../img/showcase.jpg) no-repeat center center/cover;
    height: 400px;
}

#showcase p {
    margin-bottom: 10px;
}

.showcase-content {
    text-align: center;
    color: #fff;
    padding-top: 120px;
    line-height: 2.2em;
}

.showcase-content a:hover {
    text-decoration: underline;
    color: #f7c08a;
}

/* home info */
#home-info {
    height: 300px;
} 

#home-info .info-img {
    /* border: 1px solid red; */
    background: url(./../img/photo-1.jpg) no-repeat center center/cover;
    height: 100%; 
    width: 50%;
    float: left;
}

#home-info .info-content {
    /* border: 1px solid red; */
    height: 100%;
    width: 50%;
    float: left;
    padding-top: 40px;

    background:#333;
    color: white;
    text-align: center;
}

#home-info h2 {
    padding: 10px;
}

#home-info p {
   margin-bottom: 50px;
}

/* features */
#features {
    text-align: center;
}

.box {
    width:33.3%;
    float: left;
    padding: 50px;
    background: #ece9e9;
    color: #333;
}

.box i {
    font-size: 50px;
}

/* footer */
#main-footer {
    background: #333;
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px;
}

/* info-left */
#about-info {
    padding: 20px;
    text-align: justify;
    background: #ece9e9;
}

 #about-info .info-left {
    width: 50%;
    float: left;
 }

 #about-info .info-right {
    width: 50%;
    float: left;
 }
 
 #about-info .info-right img {
    width: 60%;
    border-radius: 50%;
    margin: auto;
    display: block;
 }

 /* testimonials */
#testimonials {
    height: 500px;
    background: url(./../img/test-bg.jpg) no-repeat center center/cover;
}

#testimonials h2 {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

#testimonials .testimonial {
    padding: 20px;
    height: 150px;
    margin: 0 15px 20px 15px;
    border-radius: 5px;
    opacity: 0.8;
}

#testimonials .testimonial img {
    float: left;
    width: 100px;
    border-radius: 50%;
}

/* Contacts */
#contact-info {
    width: 100%;
}

#contact-info .contact-content {
    margin: 20px 50px 0 50px;  
}

#contact-info h1 {
    padding-bottom: 30px;
    font-size: 30px;
}

#contact-info .contact-form label {
    display: block;
    padding-top: 20px;
    padding-bottom: 5px;
}

#contact-info .contact-form input {
    width: 100%;
    border: 1px solid black;
    padding: 10px;
}

#contact-info .contact-form textarea {
    width: 100%;
    border: 1px solid black;
    padding: 50px;
    margin-bottom: 20px;
}

#contact-info .btn {
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#contact-features {
    text-align: center;
    margin-left: -50px;
    margin-right: -50px;
}

#contact-features .box1 {
    width:33.3%;
    float: left;
    padding: 20px;
    color:  #ece9e9;
    background: #333;
}

#contact-features .box1 i {
    font-size: 30px;
    padding-top: 20px;
}

#contact-features h3 {
    font-size: 18px;
    padding: 10px;
}

#contact-features p {
    font-size: 15px;
    padding: 15px;
}
 /* deploy contacts to netlify */